body {
    font-family: Arial;
    background-color: white;
}

.title {
    text-align: left;
}

.form-container {
    width: 400px;
    margin: 20px ;
    padding: 20px;
    background: white;
    border-radius: 8px;
    }

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
   
}

.group {
    margin-top: 5px;
}

.group input {
    width: auto;
  
}

.buttons {
    margin-top: 15px;
    text-align: center;
}

